<div class="container signInFormContainer">
    <form class="signInForm" action="">
        <fieldset>
            <legend>SIGN IN</legend>
            <div class=fieldContainer>
                <div>
                    <label>Username:</label>
                    <input type="text" class="form-control standardFieldWidth"><br>
                </div>
                <div>
                    <label>Password:</label>
                    <input type="text" class="form-control standardFieldWidth"><br>
                </div>
                <div class="alignRight">
                    <a href="">Forgot My Password</a>
                </div>
                <br><br>
                <div class="alignRight">
                    <button type="button" class="btn btn-info" routerLink="/signupscreen">SIGN UP</button>
                    &nbsp;&nbsp;
                    <button type="button" class="btn btn-info">SIGN IN</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
