<div class="videoDiv">
    <video autoplay="true" loop="true" poster="/app/assets/drone2.jpg">
        <!-- <source src="./assets/videos/WorkingSite.mp4" type="video/mp4">
        <source src="./assets/WorkingSite.m4v" type="video/m4v">
        <source src="./assets/WorkingSite.ogg" type="video/ogg"> -->
        <source src="./assets/videos/WorkingSite.webm" type="video/webm">
        Your browser does not support the video tag.
    </video>
</div>
<div class="container formContainer">
    <form class="signInForm" #loginForm="ngForm" novalidate (ngSubmit)="onSubmit()">
        <fieldset>
            <legend>SIGN IN</legend>
            <div class=fieldContainer>
                <div>
                    <label>Username:</label>
                    <input type="text" required name="username" [(ngModel)]="loginModel.username" class="form-control standardFieldWidth"><br>
                </div>
                <div>
                    <label>Password:</label>
                    <input type="password" required name="password" [(ngModel)]="loginModel.password" class="form-control standardFieldWidth"><br>
                </div>
                <div class="alignRight">
                    <a href="">Forgot My Password</a>
                </div>
                <br><br>
                <div class="alignRight">
                    <button type="button" class="btn btn-info" routerLink="/signupscreen">SIGN UP</button>
                    &nbsp;&nbsp;
                    <button type="submit" class="btn btn-info">SIGN IN</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
