<div class="videoDiv">
    <video autoplay="true" loop="true" poster="/app/assets/drone2.jpg">
        <!-- <source src="./assets/videos/WorkingSite.mp4" type="video/mp4">
        <source src="./assets/WorkingSite.m4v" type="video/m4v">
        <source src="./assets/WorkingSite.ogg" type="video/ogg"> -->
        <source src="./assets/videos/WorkingSite.webm" type="video/webm">
        Your browser does not support the video tag.
    </video>
</div>
<div class="container formContainer">
    <form *ngIf="!isResetPassword" class="signInForm" #loginForm="ngForm" novalidate (ngSubmit)="onSubmit()">
        <fieldset>
            <legend>SIGN IN</legend>
            <div class=fieldContainer>
                <div>
                    <label>Username:</label>
                    <input type="text" required name="username" [(ngModel)]="loginModel.username" class="form-control standardFieldWidth"><br>
                </div>
                <div>
                    <label>Password:</label>
                    <input type="password" required name="password" [(ngModel)]="loginModel.password" class="form-control standardFieldWidth"><br>
                </div>
                <div class="alignRight">
                    <a href="javascript:void(0)" (click)="isResetPassword=true">Forgot My Password</a>
                </div>
                <br><br>
                <div class="alignRight">
                    <button type="button" class="btn btn-info" routerLink="/signupscreen">SIGN UP</button>
                    &nbsp;&nbsp;
                    <button type="submit" class="btn btn-info">SIGN IN</button>
                </div>
            </div>
        </fieldset>
    </form>

    <form class="passwordResetForm" *ngIf="isResetPassword" #passwordResetForm="ngForm" novalidate (ngSubmit)="onResetPassword()">
        <fieldset>
            <legend>RESET YOUR PASSWORD</legend>
            <div class=fieldContainer>
                <div>
                    <label>Enter Current Username:</label>
                    <input type="text" required name="username" [(ngModel)]="resetPasswordModel.username" class="form-control standardFieldWidth"><br>
                </div>
                <div>
                    <label>Enter Secret Key:</label>
                    <input type="text" required name="secretKey" [(ngModel)]="resetPasswordModel.secretKey" class="form-control standardFieldWidth"><br>
                    <small class="text-danger" *ngIf="!isSecretKeyFound">That secret key does not exist for your username.</small>
                </div>
                <div>
                    <label>Enter New Password:</label>
                    <input type="password" required name="password" [(ngModel)]="resetPasswordModel.password" class="form-control standardFieldWidth"><br>
                </div>
                <br><br>
                <div class="alignRight">
                    <button type="submit" class="btn btn-info">CONTINUE</button>
                </div>
            </div>
        </fieldset>
    </form>

</div>
