/* You can add global styles to this file, and also import other style files */
div.formContainer {
    z-index: -1;
    margin-top: 10%;
    margin-left: 30%;
    width: 40%;
    height: auto;
}

fieldset {
    background-color: #eeeeee;
    padding: 20px;
    border: solid #343a40;
}

legend {
    background-color: #343a40;
    color: white;
    padding: 5px 10px;
}

.standardFieldWidth {
    width: 450px;
}

.fieldContainer {
    width: 450px;
}

.alignRight {
    text-align: right;
}

.jumboButton {
    width: percentage($number: 0.25);
    height: 50px;
    font-size: 18px;
}

.jumboInfoMessageBanner {
    margin-top: percentage($number: 0.25);
    text-align: center;
}

.jumboInfoMessageBanner h1 {
    font-size: percentage($number: 4);
}