<div class="container signInFormContainer">
    <form class="signInForm" action="">
        <fieldset>
            <legend>SIGN UP</legend>
            <div class=fieldContainer>
                <div>
                    <label>Create Username:</label>
                    <input type="text" class="form-control standardFieldWidth"><br>
                </div>
                <div>
                    <label>Create Password:</label>
                    <input type="text" class="form-control standardFieldWidth"><br>
                </div>
                <br><br>
                <div class="alignRight">
                    <button type="button" class="btn btn-info">CONTINUE</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
